<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Conexão com o banco de dados -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user123</property>

        <!-- Dialeto do banco -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Modo de atualização de tabelas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Exibir SQL no console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mapear entidade Livro -->
        <mapping class="model.Livro"/>

    </session-factory>
</hibernate-configuration>
